@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');

:root {
  --headingFont: 'Abril Fatface', cursive;
  --bodyFont: 'Open Sans', sans-serif;
  --color1: #c4a077;
  --color2: #522c1b;
  --color3: #f5dfbe;
  --color4: #a5babb;
}

body {
  font-family: var(--bodyFont);
  background-color: #FFF;
  padding: 1em;
}

h1, h2, h3 {
  font-family: var(--headingFont);
  color: var(--color2);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color2);
  border-bottom: 1px solid var(--color4);
}

main {
  display: grid;
  grid-template-columns: 14em 1fr;
  grid-column-gap: 30px;
  justify-content: flex-start;
}

.productList__Container{
}

.productList {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 0;
  margin-left: 0;
  border-right: 1px solid var(--color3);
}

.productList__item {
  border: 3px solid transparent;
  list-style-type: none;
  padding: 0.4em 0.6em;
  transition: all 0.3s;
}

.productList__item.selected {
  border-color: var(--color4);
}

  .productList__item:hover {
    border-color: var(--color4);
  }

.selectedProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectedProduct__image {
  order: -1;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
  border: 3px solid var(--color4);
}
