@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');

:root {
  --headingFont: 'Abril Fatface', cursive;
  --bodyFont: 'Open Sans', sans-serif;
  --color1: #c4a077;
  --color2: #522c1b;
  --color3: #f5dfbe;
  --color4: #a5babb;
}

body {
  font-family: var(--bodyFont);
  background-color: var(--color3);
}

h1, h2, h3 {
  font-family: var(--headingFont);
  color: var(--color2);
}

a {
  text-decoration: none;
  color: var(--color2);
  border-bottom: 1px solid var(--color4);
}

.productList__Container{
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
  padding: 10px 0;
}

.productList {
  display: flex;
  padding-left: 0;
  margin-left: 0;
}

.productList__item {
  border: 1px solid var(--color1);
  list-style-type: none;
}
